bin
release
debug
Debug
Release
obj
*.obj
*.user
*.dll
*.exe
*.pdb
ich
*.ich
*.class
*.sdf
*.opensdf
*.cache
*.suo
*.pch
*.*~
/CSharp/Source/Arrow/.vs/Arrow/v15/Server/sqlite3
/CSharp/Source/Arrow/UnitTests.Arrow/.vs/UnitTests.Arrow/v15/Server/sqlite3
