<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Arrow" type="Arrow.Configuration.ArrowSectionHandler, Arrow"/>
	</configSections>

	<Arrow>
		<Arrow.Plugins>
			<SystemPlugins>
				<Plugin type="Arrow.InsideOut.Plugins.InsideOutPlugin, Arrow.InsideOut">
					<Node name="Echo" type="Arrow.InsideOut.Nodes.EchoNode, Arrow.InsideOut" />
					<Node name="ProcessInfo" type="Arrow.InsideOut.Nodes.ProcessInfoNode, Arrow.InsideOut" />
					<Node name="Calculator" type="Arrow.InsideOut.Nodes.CalculatorNode, Arrow.InsideOut" />					
				</Plugin>

				<Plugin type="Arrow.InsideOut.Transport.Http.Server.ListenerPlugin, Arrow.InsideOut">
					<EnableGetDetails>true</EnableGetDetails>
					<InstanceName>InsideOutHost</InstanceName>
					<Prefixes>
						<Prefix>http://*:8080/InsideOut/</Prefix>
					</Prefixes>
				</Plugin>

				<Plugin type="Arrow.InsideOut.Transport.Tcp.Server.ListenerPlugin, Arrow.InsideOut">
					<InstanceName>InsideOutHost</InstanceName>
					<Port>12345</Port>
				</Plugin>

				<Plugin type="Arrow.InsideOut.Transport.Messaging.Server.BroadcastPlugin, Arrow.InsideOut">
					<InstanceName>InsideOutHost</InstanceName>
					<Endpoint>memtopic://foo/InsideOutHost</Endpoint>
				</Plugin>
			</SystemPlugins>
		</Arrow.Plugins>

		<Arrow.Messaging>
			<Assemblies>
				<Assembly>Arrow.Messaging.Memory</Assembly>
			</Assemblies>
		</Arrow.Messaging>
		
		<Arrow.Logging>
			<Logger type="Arrow.Logging.Loggers.StdOutLog, Arrow" />
		</Arrow.Logging>
	</Arrow>
</configuration>