<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Arrow" type="Arrow.Configuration.ArrowSectionHandler,Arrow"/>
	</configSections>

	<Arrow>
		<Arrow.Messaging>
			<Assemblies>
				<Assembly>Arrow.Messaging.Memory</Assembly>
			</Assemblies>
		</Arrow.Messaging>
	</Arrow>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
