<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="App" type="Arrow.Configuration.ArrowSectionHandler,Arrow"/>
		<section name="Arrow" type="Arrow.Configuration.ArrowSectionHandler,Arrow"/>
	</configSections>

	<App>
	</App>

	<Arrow>
		<Arrow.Logging>
			<Logger type="Arrow.Logging.Log4Net.Log, Arrow.Logging.Log4Net"/>
		</Arrow.Logging>

		<Arrow.Logging.Log4Net>
			<Configuration>LogConfig.xml</Configuration>
		</Arrow.Logging.Log4Net>
	</Arrow>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>
