<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="App" type="Arrow.Configuration.ArrowSectionHandler, Arrow"/>
		<section name="Arrow" type="Arrow.Configuration.ArrowSectionHandler, Arrow"/>
	</configSections>

	<App>
		<RunSheet>
			<DatabaseManager>
				<Databases>
					<Database name="tango" transactional="true">
						<Details type="Arrow.Data.SqlServerDatabaseDetails, Arrow">
							<ConnectionString>Server=localhost\SQLEXPRESS;Database=Tango;Trusted_Connection=True;</ConnectionString>
						</Details>
					</Database>
				</Databases>
			</DatabaseManager>
		</RunSheet>
	</App>

	<Arrow>
		<Arrow.Logging>
			<Logger type="Arrow.Logging.Loggers.StdOutLog, Arrow" />
		</Arrow.Logging>
	</Arrow>
</configuration>