<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Arrow" type="Arrow.Configuration.ArrowSectionHandler,Arrow"/>
		<section name="OldStyle" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<connectionStrings>
		<add name="Prod" connectionString="Island" providerName="Null"/>
		<add name="Uat" connectionString="Orchid" providerName="Oracle"/>
	</connectionStrings>

	<appSettings>
		<add key="WhereToWrite" value="${env:temp}"/>
		<add key="LoopedInConfig" value="LoopedInConfig.xml"/>
	</appSettings>
	
	<Arrow>
		<UnitTests uri="res://UnitTests.Arrow/UnitTests/Arrow/Resources/AppConfigInclude.xml"/>
		<MissingUnitTests allowMissing="true" uri="res://UnitTests.Arrow/UnitTests/Arrow/Resources/FooBar.xml"/>
		<MandatoryResource allowMissing="false" uri="res://UnitTests.Arrow/UnitTests/Arrow/Resources/FooBar.xml"/>

		<Arrow.Configuration>
			<AppSettings>
				<Include filename="${proc:StartupDir}\AdditionalAppSettings.xml" optional="false" />
				<Include filename="${proc:StartupDir}\${appSettings:LoopedInConfig}" optional="false" select="Data/appSettings" />
				<Include filename="ThisFileDoesNotExist.xml" optional="true" />
			</AppSettings>
		</Arrow.Configuration>
		
		<Arrow.Settings>
			<Setting>
				<Namespace>Person</Namespace>
				<Settings type="Arrow.Settings.DirectXmlSettings, Arrow">
					<Name>Sawyer</Name>
					<Location>Island</Location>
				</Settings>
			</Setting>
		</Arrow.Settings>

		<DI xmlns:obj="urn:arrow.xml.objectcreation">
			<Registration>
				<Register lifetime="Transient">
					<Concrete obj:typeof="UnitTests.Arrow.DI.UserLookupStub, UnitTests.Arrow"/>
					<Expose obj:typeof="UnitTests.Arrow.DI.IUserLookup, UnitTests.Arrow"/>
				</Register>

				<Register lifetime="Singleton">
					<Concrete obj:typeof="UnitTests.Arrow.DI.FooBar, UnitTests.Arrow"/>
					<Expose obj:typeof="UnitTests.Arrow.DI.IFoo, UnitTests.Arrow"/>
					<Expose obj:typeof="UnitTests.Arrow.DI.IBar, UnitTests.Arrow"/>
				</Register>

				<Register lifetime="Transient">
					<!-- As we dont expose a type it will implicitly expose the concrete type -->
					<Concrete obj:typeof="UnitTests.Arrow.DI.ConstructorTest, UnitTests.Arrow"/>
				</Register>

				<RegisterBundles>
					<Bundles>
						<Bundle obj:type="UnitTests.Arrow.DI.IslandBundle, UnitTests.Arrow"/>
					</Bundles>
				</RegisterBundles>
			</Registration>

			<AssemblyScan>
				<RegisterBundlesInAssembly>
					<Assemblies>
						<Assembly>UnitTests.Arrow</Assembly>
					</Assemblies>
				</RegisterBundlesInAssembly>
			</AssemblyScan>
		</DI>

		<Arrow.Net>
			<UriManager>
				<Template name="Foo">
					<Scheme>https</Scheme>
					<Host>www.foo.com</Host>
				</Template>

				<Template name="ForJack" template="foo">
					<Query>
						<Parameter name="user" value="Jack" />
						<Parameter name="age" value="39" />
					</Query>
				</Template>

				<Template name="EverythingSet">
					<Scheme>https</Scheme>
					<Username>Bob</Username>
					<Password>123</Password>
					<Host>www.foo.com</Host>
					<Port>8080</Port>
					<Path>/some/where</Path>
					<Query></Query>
				</Template>

				<Endpoint name="UserLookup" template="foo">
					<Path>users</Path>
				</Endpoint>

				<Endpoint name="LookupJack" template="ForJack">
					<Path>users</Path>
				</Endpoint>

				<Endpoint name="EverythingSet-1" template="EverythingSet"/>
				
			</UriManager>
		</Arrow.Net>
		
	</Arrow>

	<OldStyle>
		<add key="Jack" value="Doctor"/>
		<add key="Sawyer" value="Conman"/>
		<add key="Unique" value="${guid:new}"/>
	</OldStyle>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
