<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Arrow" type="Arrow.Configuration.ArrowSectionHandler, Arrow"/>
	</configSections>

	<Arrow>
		<Arrow.Logging>
			<Logger type="Arrow.Logging.Loggers.StdOutLog, Arrow" />
		</Arrow.Logging>
	</Arrow>
</configuration>