<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="App" type="Arrow.Configuration.ArrowSectionHandler, Arrow"/>
		<section name="Arrow" type="Arrow.Configuration.ArrowSectionHandler, Arrow"/>
	</configSections>

	<App>
		<RunSheet>
			<DatabaseManager>
				<Databases>
					<Database name="stats" transactional="true">
						<Details type="Arrow.Data.SqlServerDatabaseDetails, Arrow">
							<ConnectionString>todo</ConnectionString>
						</Details>
					</Database>
				</Databases>
			</DatabaseManager>
		</RunSheet>
	</App>

	<Arrow>
		
	</Arrow>
</configuration>