<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Arrow" type="Arrow.Configuration.ArrowSectionHandler,Arrow"/>
		<section name="OldStyle" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<Arrow>
		<UnitTests uri="res://UnitTests.Arrow/UnitTests/Arrow/Resources/AppConfigInclude.xml"/>
		<MissingUnitTests allowMissing="true" uri="res://UnitTests.Arrow/UnitTests/Arrow/Resources/FooBar.xml"/>
		<MandatoryResource allowMissing="false" uri="res://UnitTests.Arrow/UnitTests/Arrow/Resources/FooBar.xml"/>

		<Arrow.Settings>
			<Setting>
				<Namespace>Person</Namespace>
				<Settings type="Arrow.Settings.DirectXmlSettings, Arrow">
					<Name>Sawyer</Name>
					<Location>Island</Location>
				</Settings>
			</Setting>
		</Arrow.Settings>

		<DI xmlns:obj="urn:arrow.xml.objectcreation">
			<Registration>
				<Register lifetime="Transient">
					<Concrete obj:typeof="UnitTests.Arrow.DI.UserLookupStub, UnitTests.Arrow"/>
					<Expose obj:typeof="UnitTests.Arrow.DI.IUserLookup, UnitTests.Arrow"/>
				</Register>

				<Register lifetime="Singleton">
					<Concrete obj:typeof="UnitTests.Arrow.DI.FooBar, UnitTests.Arrow"/>
					<Expose obj:typeof="UnitTests.Arrow.DI.IFoo, UnitTests.Arrow"/>
					<Expose obj:typeof="UnitTests.Arrow.DI.IBar, UnitTests.Arrow"/>
				</Register>

				<Register lifetime="Transient">
					<!-- As we dont expose a type it will implicitly expose the concrete type -->
					<Concrete obj:typeof="UnitTests.Arrow.DI.ConstructorTest, UnitTests.Arrow"/>
				</Register>

				<RegisterBundles>
					<Bundles>
						<Bundle obj:type="UnitTests.Arrow.DI.IslandBundle, UnitTests.Arrow"/>
					</Bundles>
				</RegisterBundles>
			</Registration>

			<AssemblyScan>
				<RegisterBundlesInAssembly>
					<Assemblies>
						<Assembly>UnitTests.Arrow</Assembly>
					</Assemblies>
				</RegisterBundlesInAssembly>
			</AssemblyScan>
		</DI>
	</Arrow>

	<OldStyle>
		<add key="Jack" value="Doctor"/>
		<add key="Sawyer" value="Conman"/>
		<add key="Unique" value="${guid:new}"/>
	</OldStyle>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
